.cabeçalho{
    background: #000000;
    color: #FFFFFF;
    padding: 40px 0;
}
h1{
    font-size: 60px;
    text-align: center;
}
img{
    width: 40%;
}
.descriçao{
    font-size: 30px;
    text-transform: uppercase;
}
.descriçao2{
font-size: 25px;
}
.lidescriçao{
    list-style-type: circle;
    font-size: 20px;
}
footer{
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 0;
}