.cabeçalho{
    background: #000000;
    color: #FFFFFF;
    padding: 40px 0;
}
h1{
    font-size: 60px;
    text-align: center;
}
legend{
    font-size: 35px;
    text-decoration: underline;
    padding: 40px 60px;
    text-decoration: none;
    display: inline-block;
}
img{
    width: 40%;
    display: inline-block;
}
.descriçoes{
    display: inline-block;
    border: #000000 solid 1px;
    border-radius: 10px;
    position: relative;
    top: -290px;
    right: 10px;
    padding: 30px;
}
.descriçao{
    font-size: 22px;
}
.descriçao2{
font-size: 18px;
}
.lidescriçao{
    list-style-type: circle;
    font-size: 20px;
}
.botao{
    font-size: 40px;
    padding: 10px 20px;
    background-color:chartreuse;
    border-radius: 20px;
}
.comprar{
    text-decoration: none;
    color:#000000;
}
footer p{
    text-align: center;
}
footer{
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 0;
}
